.container {
    display: flex;
}

.flex-d-row-rev {
    flex-direction: row-reverse;
}

.block {
    box-sizing: border-box;
    background: #666667;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.h400 {
    height: 400px;
}

.h40 {
    height: 40px;
}

.column {
    flex-direction: column;
}

.fgrow1 {
    flex-grow: 1;
}

.fgrow2 {
    flex-grow: 2;
}

.fgrow3 {
    flex-grow: 3;
}

.fgrow4 {
    flex-grow: 4;
}


.seg6789-tools {
    justify-content: start;
    align-items: end;
}

.seg3-pos {
    position: relative;
    bottom: 300px;
}

.media-seg89 {
    none:none;
}

@media screen and (max-width: 700px) {
    .seg2 {
        flex-direction: column;
    }

    .seg3-pos {
        bottom: 0;
    }

    .seg6789 {
        flex-direction: column;
    }

    .seg67 {
        flex-direction: column;
        width: 100%;
    }

    .seg89 {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .media-seg89 {
        width: 50%;
    }
}