body {
    margin: 0 auto;
    padding: 0;
    width: 1400px;
}

:root {
    --black_color: #000000
}

.header {
    margin-left: 145px;
    margin-right: 145px;
    display: flex;
    margin-top: 27px;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
}

.header_menu {
    display: flex;
    align-items: center;
}

.col-gap {
    grid-column-gap: 22px;
}

.header_menu_buttons {
    text-decoration: none;
    color: var(--black_color);
    font-family: 'Roboto', sans-serif;
}

.but_logo {
    background: none;
    border-radius: 100px;
    border: 1px solid black;
    /*border: 1px solid var(--black_color); NOT WORKING*/
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 13px 24px;

}

.but_expert {
    background: var(--black_color);
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.but_expert_clr {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.but_discover_and_view {
    border-radius: 100px;
    height: 50px;
    background: #f7b3b8;
    margin-bottom: 126px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border: none;
    font-family: Roboto, sans-serif;
}

.w235 {
    width: 235px;
}

.w140 {
    width: 140px;
}

.segment1 {
    display: flex;
    margin-left: 145px;
    margin-top: 32px;
}

.seg1-disc-but {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.seg1_h3 {
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    margin-bottom: 27px;
    font-family: 'Roboto', sans-serif;
    margin-top: 96px;
}

.seg1-img {
    margin-right: 89px;
    margin-top: auto;
}

.seg1-txt-style {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.seg1-disc-but-pos {
    position: relative;
    top: 90px;
}

.header-seg1-border {
    border-bottom: 1px solid #eaeef2;
}

.pad-h3-disc-but {
    padding-top: 63px;
}

.segment2 {
    display: flex;
    align-items: center;
    grid-column-gap: 104px;
    padding-left: 145px;
}

.column {
    flex-direction: column;
}

.txt-style1 {
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
    margin-right: 265px;
    height: 173px;
    width: 443px;
    padding-bottom: 33px;
}

.rbt {
    color: var(--black_color);
    font-family: 'Roboto', sans-serif;
}

.txt-style2 {
    text-align: justify;
    /*padding-top: 33px;*/
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    margin-right: 193px;
    height: 123px;
    width: 515px;
}

.seg2-img {
    padding-top: 84px;
    padding-bottom: 143px;
}

.brd-box {
    box-sizing: border-box;
}

.main-body {
    margin-top: 104px;
}

.segment3 {
    margin-left: 145px;
}

.cards1, .cards2, .segment5 {
    display: flex;
}

.card1 {
    display: flex;
    flex-direction: column;
    width: 363px;
}

.txt-style3-0 {
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    padding-top: 88px;
}

.txt-style3 {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 10px;
}

.w295 {
    width: 295px;
}

.txt-style3-1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.pad-bot-and-width {
    padding-bottom: 71px;
    width: 295px;
}

.card-padding {
    padding-top: 82px;
    padding-bottom: 24px;
}

.segment4 {
    flex-direction: column;
    background: #fdeced;
}

.txt-style4-1 {
    font-weight: normal;
    font-size: 58px;
    line-height: 58px;
    padding-top: 88px;
    padding-bottom: 82px;
}

.card2 {
    width: 309px;
    padding-bottom: 89px;
    padding-right: 54px;
}

.w304 {
    width: 304px;
}

.w302 {
    width: 302px;
}

.w294 {
    width: 294px;
}

.pad-seg4 {
    padding-left: 145px;
}

.txt-style5-1 {
    font-weight: normal;
    font-size: 27px;
    line-height: 36px;
    width: 236px;
    height: 72px;
    padding: 129px 137px 321px 145px;
}

.mrgn-t113-b95 {
    margin-top: 113px;
    margin-bottom: 95px;
}

.segment6 {
    display: flex;
    padding-left: 145px;
}

.txt-style6-1 {
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    padding-top: 191px;
    padding-bottom: 40px;
    padding-right: 324px;
}

.txt-style6-2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    width: 547px;
    height: 62px;
    padding-bottom: 79px;
}

.seg6img-pads {
    padding-top: 108px;
    padding-bottom: 78px;

}

.segment7 {
    margin: 108px 145px;
    background: #8bd4d6;
    width: 1150px;
    height: 283px;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.but_started {
    border-radius: 100px;
    background: var(--black_color);
    width: 159px;
    height: 50px;
    color: white;
}

.txt-style7-1 {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
}

.txt-style7-2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.txt-size-but {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.footer {
    height: 631px;
    /*box-sizing: border-box;*/
    background: #302e3f;
    padding: 45px 145px;
}

.cards3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card3 > h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
    padding-bottom: 0;
    margin-top: 50px;
}

.card3 > p {
    font-family: 'Roboto', sans-serif;
    color: #c5e9ea;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /*padding-right: 123px;*/
    padding-bottom: 8px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-head {
    align-items: center;
    width: 358px;
    justify-content: space-between;
}

#card-speak-mrgn {
    margin-top: 124px;
}

.licence {
    margin: 62px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 554px;
}

.licence > div > a {
    text-decoration: none;
    cursor: pointer;
    color: #c5e9ea;
}

.license-and-logoACCA-pos {
    display: flex;
    justify-content: space-between;
}

.logoACCA {
    position: relative;
    top: 90px;
    left: 35px;
}
