body {
    margin: 0;
    padding: 0;
    width: 1400px;
}

:root {
    --black_color: #000000
}

.header {
    margin: 0 145px;
    display: flex;
    margin-top: 27px;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
}

.header_menu {
    display: flex;
    align-items: center;
}

.col-gap {
    grid-column-gap: 22px;
}

.header_menu_buttons {
    text-decoration: none;
    color: var(--black_color);
    font-family: 'Roboto', sans-serif;
}

.but_logo {
    background: none;
    border-radius: 100px;
    border: 1px solid black;
    /*border: 1px solid var(--black_color); NOT WORKING*/
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 13px 24px;

}

.but_expert {
    background: var(--black_color);
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.but_expert_clr {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.segment1 {
    display: flex;
    margin-left: 145px;
    margin-top: 32px;
}

.seg1-disc-but {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.seg1_h3 {
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    margin-bottom: 27px;
    font-family: 'Roboto', sans-serif;
    margin-top: 96px;
}

.seg1-img {
    margin-right: 89px;
    margin-top: auto;
}

.seg1-txt-style {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.seg1-disc-but-pos {
    position: relative;
    top: 90px;
}

.header-seg1-border {
    border-bottom: 1px solid #eaeef2;
}

.pad-h3-disc-but {
    padding-top: 63px;
}

.segment2{
    margin-top: 104px;
    display: flex;
    padding-top: 52px;
    align-items: center;
    grid-column-gap: 104px;
}
.column{
    flex-direction: column;
}
.txt-style1{
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
    margin-right: 265px;
    height: 173px;
    width: 443px;
}
.rbt{
    color: var(--black_color);
    font-family: 'Roboto', sans-serif;
}
.txt-style2{
    text-align: justify;
    padding-top: 33px;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    margin-right: 193px;
    height: 123px;
    width: 515px;
}
.seg2-img{
    padding-top: 84px;
    padding-left: 145px;
    padding-bottom: 143px;
}
.brd-box{
    box-sizing: border-box;
}