.page_style {
    font-family: 'Roboto', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

:root {
    --orange-color: #f9c600;
    --white-color: #fff;
    --silver-color: #e7eaeb;
    --black2_color: #375361;
    --blednii_color: #f2ede7;
    --black3_color: #0B2330;
    --footer_color: #94A0A4;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
}

.column {
    display: flex;
    flex-direction: column;
}

.txt_size_12_16 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.txt_size_14_24 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.txt_size_16_24 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.txt_size_17_28 {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
}

.txt_size_22_32 {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
}

.txt_size_24_32 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}


.txt_size_34_40 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
}

.txt_size_42_48 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
}

.txt_size_60_64 {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
}

.link_bar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 481px;
}

.link_header {
    display: flex;
}

.img_navbut {
    margin-left: 8px;
}

.buts_nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black_but_header {
    background: var(--black3_color);
    border: 1px solid var(--black3_color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    width: 163px;
    color: #FFF;
    padding: 14px 29px 16px;
    cursor: pointer;
}

.buts_nav_header > div {
    padding-right: 24px;
}

.segment1 {
    display: flex;
    padding-left: 147px;
    justify-content: space-between;
    box-sizing: border-box;
    height: 886px;
}

.card1 {
    padding-top: 154px;
    width: 436px;
}

.w430 {
    width: 300px;
}

.orange_but {
    border: 1px solid var(--orange-color);
    box-sizing: border-box;
    border-radius: 4px;
    background: var(--orange-color);
    height: 54px;
    cursor: pointer;
}

.white_but {
    background-color: var(--white-color);
    cursor: pointer;
}

.w163 {
    width: 163px;
    height: 54px;
}

.w156 {
    width: 156px;
    border: 1px solid var(--black3_color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    cursor: pointer;
}

/*orange block*/
.img_casper {
    position: relative;
    bottom: 751px;
    right: 102px;
}


.img_orang_bg {
    display: block;
}

.col_gap_16 {
    display: flex;
    column-gap: 16px;
}

.card1 > div {
    padding-bottom: 32px;
}

.segment2 {
    text-align: center;
    align-items: center;
    padding-top: 149px;
    height: 2200px;
}

.w547_pb_59 {
    width: 546px;
    padding-bottom: 59px;
}

.logos_bicycle_pad {
    padding-bottom: 192px;
}

.w711_pb_57 {
    width: 711px;
    padding-bottom: 57px;
}

.pad_bot_113 {
    padding-bottom: 113px;
}

.orng_pad_top_txt {
    padding-top: 14px;
    padding-bottom: 16px;
}

.w485 {
    width: 485px;
    height: 192px;
    padding-top: 103px;
    padding-left: 136px;
}

.w550 {
    width: 550px;
    height: 56px;
    text-align: left;
    padding-top: 39px;
    padding-left: 136px;
}

.segment3 {
    height: 537px;
    margin-left: 148px;
}

.img_casper1 {
    display: flex;
    position: relative;
    bottom: 546px;
    right: 113px;
}

.segment4 {
    box-sizing: border-box;
    align-items: start;
    margin-left: 148px;
    margin-bottom: 91px;
    width: 1376px;
    height: 354px;
}

.col1 {
    color: #6a7981;
    margin-top: 136px;
    margin-bottom: 13px;
}


.w593 {
    width: 593px;
    height: 144px;
    margin-bottom: 26px;
}

.w500 {
    width: 500px;
    height: 32px;
}

.segment5 {
    display: flex;
    height: 1715px;
}

.card2 {
    display: flex;
    justify-content: space-between;
    margin-left: 147px;
    margin-right: 22px;
    margin-top: 128px;
}

.card2_body {
    margin-top: 10px;
}

.w144 {
    width: 144px;
    height: 54px;
    padding: 0;
}

.w484 {
    width: 484px;
    padding-bottom: 64px;
    color: #375361;
}

.pad_t23_b29 {
    padding-top: 23px;
    padding-bottom: 29px;
}

.but_bar_seg5 {
    display: flex;
    margin-left: 147px;
}

.but_seg5 {
    height: 23px;
    border-radius: 4px;
    margin-right: 8px;
    border: none;
    color: #61757E;
    text-transform: uppercase;
    cursor: pointer;
}

.w228 {
    width: 228px;
    background: var(--silver-color);
}

.w147 {
    width: 147px;
    background: var(--silver-color);
}

.w152 {
    width: 152px;
    background: #fe9f28;
    color: var(--black3_color);
}

.segment6 {
    width: 1440px;
    height: 960px;
    background: var(--blednii_color);
}

.pad_seg6 {
    padding: 96px 121px;
}

.w1064 {
    width: 1064px;
    margin-bottom: 120px;
}

.seg6tools {
    display: flex;
    justify-content: space-between;
}

.col2 {
    color: var(--black2_color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.segment7 {
    display: flex;
    padding-top: 160px;
    padding-bottom: 240px;
    padding-left: 148px;
    justify-content: space-between;
}

.w150 {
    width: 150px;
}

.w669 {
    width: 669px;
    padding-top: 5px;
    padding-bottom: 37px;
}

.w667 {
    width: 667px;
    color: #375361;
    padding-bottom: 36px;
}

.segment8 {
    display: flex;
    padding: 0 32px 46px 32px;
}

.seg8_1 {
    box-sizing: border-box;
    width: 583px;
    height: 584px;
    background: var(--blednii_color);
    border-radius: 10px 0 0 10px;
    padding: 80px 117px;
}

.seg8_2 {
    box-sizing: border-box;
    width: 794px;
    height: 584px;
    background: var(--orange-color);
    border-radius: 0 10px 10px 0;
    padding: 80px 116px;
}

.w140h54 {
    width: 140px;
    height: 54px;
    background: none;
    cursor: pointer;
}

.w314 {
    width: 314px;
    padding-top: 17px;
    padding-bottom: 27px;
}

.w325 {
    width: 325px;
    color: var(--black2_color);
    padding-bottom: 36px;
}

.w557 {
    width: 540px;
    padding-bottom: 81px;
}

.face_container {
    display: flex;
    align-items: center;
}

.face_pad {
    margin-right: 24px;
}

.col3 {
    color: var(--black3_color);
}

#face_txt_2 {
    color: #2F3F48;
}

.footers {
    background: var(--black3_color);
    box-sizing: border-box;
}

.footer1 {
    box-sizing: border-box;
    margin: 0 32px;
    height: 423px;
    align-items: center;
    border-bottom: 1px solid var(--black2_color);
}

.pad_bot_31 {
    padding-bottom: 31px;
}

.pad_bot_36 {
    padding-bottom: 36px;
}

.col_wht {
    color: white;
}

.w642 {
    width: 642px;
    text-align: center;
}

.pad_t53 {
    padding-top: 53px;
}

.footer2 {
    height: 672px;
}

.cards {
    display: flex;
    padding-top: 80px;
    padding-left: 32px;
}

.card3 {
    width: 196px;
    height: 290px;
    margin-right: 40px;
}

.copyrt_bar {
    display: flex;
    justify-content: space-between;
    margin: 69px 150px 0 268px;
}

.col4 {
    color: var(--footer_color);
}

.col5 {
    color: var(--orange-color);
    padding-bottom: 13px;
}

.gap_14 {
    row-gap: 14px;
}

.w126 {
    width: 126px;
}

.link_bar_header_mobile {
    display: none;
}


